@font-face {
  font-family: 'MyAppleFont';
  src: url('https://url-to-your-font-file.woff2') format('woff2'),
       url('https://url-to-your-font-file.woff') format('woff');
  /* Add additional font formats if necessary (e.g., ttf, svg) */
  /* Define the path to your font files in the "url" property */
}
.body {
  margin-top: 20%;
  overflow-x: hidden;
  font-family: 'MyAppleFont', sans-serif;
}
.navbar{
  position: fixed !important;
  background-color: transparent;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  padding-top: 15px;
  background-color: transparent;
  width: 100%;
  z-index: 100;
}
.navbar image {
  float: left;
  position: relative;
  margin: 10px 15px 15px 10px;
}
.navbar a {
  color: #424c64;
  text-decoration: none;
  font-size: 17px;
  font-weight: 100%;
  padding: 14px 10px;
}
.navbar a:hover {
  color: #ACADB0;
}