.Section {
    margin-top: 100%;

}
.content h1 {
    margin-left: 47%;
    font-size: x-large;
    margin-top: 80px;
}
.content p {
    word-wrap: break-word;
    width: 45%;
    margin-left: 30%;
    margin-top: 10px;
}
.content img {
    width: 20%;
    height: 35%;
    border-radius: 10%;
    
}
.content .u1 {
    display: flex;
    padding-top: 20px;
}
.content .u1 .div {
    flex: 1;
    text-align: center;
}
.content .u1 .div img {
    height: 80%;
    width: 50%;
}
